---
import '../styles/global.css';

const pageTitle = "About me";

const info = {
    firstName: "Aliya Harding",
    age: "18",
}

const hobbies = ["Reading", "Writing", "Coding", "Gaming"]

const happy= true;
const finished = false;
const goals = 3;

const itemColor = "pink";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{itemColor}}>
         h1{
            color: red;
            font-size: 3rem;
         }
         h2{
            color: purple;
            font-size: 2rem;
         }
         p{
            font-size: 1rem;
         }
         a{
            text-decoration: none;
            color: pink;
         }
         a:visited{
            color: green;
            text-decoration: none;
         }
         .item{
            color: var(--itemColor);
            font-weight: bold;
         }
        </style>
	</head>
	<body>
		<h1>{pageTitle}</h1>
        <h2>this is a tutorial for making use of the framework called Astro</h2>
        <p>my name is {info.firstName} and this is my website</p>
        <p>i am {info.age} years old</p>
        <p><b>My hobbies are</b></p>
        <ul>
        {hobbies.map((hobby) => <li class="item">{hobby}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro</p>}
        {finished && <p>i am not finished with learning Astro</p>}
        {goals === 3 ? <p>my goal is to finish in 3 days</p> : <p>my goal is not 3 days</p>}
        <a href="/">intro</a>
        <a href="/about/">About</a>
        <a href="/blog/">blog</a>
	</body>
</html>
